<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"  media="all">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/sys/user/save}" method="post">
        <input type="hidden" name="id" th:if="${user}" th:value="${user.id}">
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">用户昵称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="nickname" placeholder="请输入用户昵称">
            </div>
        </div>
        <div class="layui-form-item" th:if="!${user}">
            <label class="layui-form-label required">用户密码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="password" placeholder="请输入用户密码">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i>保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i>关闭</button>
        </div>
    </form>
</div>
</body>
</html>